/* ==== 
 --------- blue color scheme styles start ---------
 ==== */
:root {
  --base-bg: #b3e5fc;
  --base-color: #000000;
}

.base-img {
  -webkit-filter: brightness(0) saturate(100%) invert(82%) sepia(10%) saturate(982%) hue-rotate(167deg) brightness(105%) contrast(98%);
          filter: brightness(0) saturate(100%) invert(82%) sepia(10%) saturate(982%) hue-rotate(167deg) brightness(105%) contrast(98%);
}

/* ==== 
 --------- blue color scheme styles end ---------
 ==== */