/* ==== 
 --------- default color scheme styles start ---------
 ==== */
:root {
  --base-bg: #d9a86a;
  --base-color: #000000;
}

.base-img {
  -webkit-filter: brightness(0) saturate(100%) invert(70%) sepia(61%) saturate(314%) hue-rotate(352deg) brightness(91%) contrast(86%);
          filter: brightness(0) saturate(100%) invert(70%) sepia(61%) saturate(314%) hue-rotate(352deg) brightness(91%) contrast(86%);
}

/* ==== 
 --------- default color scheme styles end ---------
 ==== */